<div
  class="p-2 bg-black w-full h-[100dvh] flex flex-col justify-center items-center"
>
  <div class="w-full h-[100dvh] bg-black flex justify-center items-center">
    @if (!cameraStream) {
    <button
      class="bg-primary-500 text-white p-2 rounded-md w-[200px]"
      (click)="initializeCameraAndMotion()"
    >
      Start Using Camera
    </button>
    }
    <!-- Video element for the camera feed -->
    @if (cameraStream && !isPopupOpen) {
    <div
      class="video-container"
      [ngClass]="{ red: !isValid, green: isValid }"
    ></div>
    }
    <video
      #videoElement
      autoplay
      muted
      playsinline
      [ngClass]="{
        'border-warning': !isValid && cameraStream,
        hidden: !cameraStream
      }"
    ></video>

    <canvas #canvas></canvas>
    @if (cameraStream) { @if (!isTakingPhoto && !isPopupOpen) { @if
    (isDeviceMoving) {
    <div class="motion-warning">{{ motionWarning }}</div>
    } @else { @if (isDark) {
    <div class="dark-warning">
      The image is too dark, please add more light.
    </div>
    } @if (isBlurred) {
    <div class="blur-warning">The image is blurred.</div>
    } } } @else {
    <div class="taking-photo">Taking photo...</div>
    } @if (photoMessage && !isTakingPhoto) {
    <div class="photo-message">
      {{ photoMessage }}
    </div>
    }

    <div class="take-photo-container" (click)="takePhoto()">
      <div class="take-photo"></div>
    </div>
    }
  </div>
</div>

<!-- Popup Overlay for Captured Photo -->
<div class="overlay" *ngIf="photoData" (click)="closePhoto()">
  <div class="photo-container">
    <button class="close-button" (click)="closePhoto()">&times;</button>
    <img loading="lazy" [src]="photoData" class="photo" alt="Captured Photo" />
  </div>
</div>
